@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

body {
    color: #333;
    background-color: #fff;
}



.wrap {
    width: 100%;
    position: relative;
}

header {
    width: 1340px;
    height: 100px;
    margin: auto;
    position: relative;

}

header>a {
    height: 100%;
    align-content: center;
}

nav {
    width: 600px;
    text-align: center;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 9;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    width: 150px;
}

nav>ul>li>a {
    height: 50px;
    align-content: center;
    background-color: #004a49;
    color: #fff;
    font-weight: bold;
}

nav>ul>li>a.on,
nav>ul>li:hover>a {
    background-color: #fff;
    color: #004a49;
}

.sub {
    display: none;

}

.sub>li {}

.sub>li>a {
    height: 50px;
    align-content: center;
    background-color: #8ab6b5;
    color: #fff;
}

.sub>li>a.on,
.sub>li:hover>a {
    background-color: #fff;
    color: #004a49;
}


.slide {
    width: 100%;
    height: 350px;
}

.slide>ul {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide>ul>li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slide>ul>li>a {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide>ul>li>a .s_text {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 30px 120px;
}

.slide>ul>li>a .s_text>h2 {}

.slide>ul>li>a .s_text>p {}

.slide .s1 {
    background: url(/images/img1.jpg)no-repeat center / cover;
    z-index: 3;
}

.slide .s2 {
    background: url(/images/img2.jpg)no-repeat center / cover;
    z-index: 2;
}

.slide .s3 {
    background: url(/images/img3.jpg)no-repeat center / cover;
    z-index: 1;
}




main {
    width: 1340px;
    margin: auto;
    position: relative;


}

.direct {
    width: 100%;
    height: 100px;
    background-color: #004a49;
    position: absolute;
    top: -100px;
    z-index: 99;

}

.direct>ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    color: #fff;
    text-align: center;
    font-weight: bold;

}

.direct>ul>li {}

.direct>ul>li>a {
    display: flex;
    align-items: center;
}

.direct>ul>li>a>p {
    margin-left: 10px;
}



.banner {
    height: 170px;
    width: 100%;
    align-content: center;
}

.banner>a {}

.banner>a>ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner>a>ul>li {}

.banner>a>ul>li>h4 {
    font-size: 23px;
}

.banner>a>ul>li>p {
    font-size: 18px;
    margin-top: 5px;
}





.cont {
    width: 100%;
    height: 250px;
}

.cont h3 {
    color: #fff;
}

.cont>ul {
    width: 100%;
    display: flex;
    gap: 2px;
    position: relative;

}

.cont>ul>li {
    background-color: #004a49;

    height: 50px;
    align-content: center;
}

.cont>ul>li.on {
    background-color: #8ab6b5;

}

.cont>ul>li>a {
    width: 150px;
    text-align: center;
}

.cont>ul>li>a>h3 {
    display: inline-block;
}



.notice {
    padding: 20px;
}

.notice>li {}

.notice>li>a {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #fff;
    margin: 5px 0;
}

.notice>li>a:hover {
    color: #004a49;
    border-bottom: 1px solid #004a49;

}


.gall {
    display: none;

}

.gall>ul {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.gall>ul>li {}

.gall>ul>li>a {}

.gall>ul>li>a>img {
    width: 150px;
}

.gall>ul>li>a>p {
    margin-top: 5px;
}

.tab {
    width: 600px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #8ab6b5;
    color: #fff;
}


footer {
    width: 1340px;
    height: 120px;
    background-color: #dadada;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

footer>a {
    width: 200px;
    height: 100%;
    align-content: center;
}

footer .f_menu {
    margin-left: 20px;
}

footer .f_menu .famm {
    display: flex;
    gap: 20px;

}

footer .f_menu .famm>li {
    padding-right: 20px;
    border-right: 1px solid #333;
}

footer .f_menu .famm>li:last-of-type {
    border: none;
}

footer .f_menu .sns {
    margin-top: 10px;
}


.pop {
    width: 550px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #004a49;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 50px;
    text-align: center;
    display: none;
}

.pop>h2 {}

.pop>p {
    margin-top: 20px;
    line-height: 25px;
}

.pop .pop_off {
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.pop .pop_off:hover {
    color: #8ab6b5;
}