@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

body {
    color: #666;
    background-color: #fff;
}


.wrap {
    width: 100%;
    position: relative;
}

header {
    width: 1340px;
    height: 100px;
    margin: auto;
    position: relative;
}

header>a {
    width: 200px;
    height: 100%;
    align-content: center;
}

nav {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 99;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    width: 150px;
    text-align: center;
}

nav>ul>li>a {
    height: 50px;
    align-content: center;
    background-color: #004a49;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

nav>ul>li>a.on,
nav>ul>li:hover>a {
    background-color: #93cfce;
    color: #004a49;
    border-bottom: 2px solid #fff;

}

.sub {
    display: none;
}

.sub>li {}

.sub>li>a {
    height: 50px;
    align-content: center;
    background-color: #dadada;
}

.sub>li>a.on,
.sub>li:hover>a {
    background-color: #fff;
    color: #004a49;
}




.slide {
    width: 100%;
    height: 350px;
}

.slide>ul {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide>ul>li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slide>ul>li>a {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide .s_text {
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 80px;
    text-align: center;
}

.slide .s_text>h2 {
    font-size: 28px;
}

.slide .s_text>p {
    font-size: 20px;
    margin-top: 5px;
}


.slide .s1 {
    background: url(/images/img1.jpg)no-repeat center/cover;
    z-index: 3;
}

.slide .s2 {
    background: url(/images/img2.jpg)no-repeat center/cover;
    z-index: 2;
}

.slide .s3 {
    background: url(/images/img3.jpg)no-repeat center/cover;
    z-index: 1;
}




main {
    width: 1340px;
    margin: auto;
    position: relative;
}

.direct {
    width: 100%;
    height: 100px;
    background-color: #004a49;
    position: absolute;
    top: -100px;
    z-index: 9;

}

.direct>ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.direct>ul>li {}

.direct>ul>li>a {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.direct>ul>li>a>p {
    padding-left: 5px;
}

.banner {
    width: 100%;
    height: 200px;
}

.banner>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}

.banner .b_text {}

.banner .b_text>h3 {
    font-size: 24px;
}

.banner .b_text>p {
    margin-top: 5px;
}

.cont {
    width: 100%;
    height: 350px;
    position: relative;

}

.cont>ul {
    display: flex;
}

.cont>ul>li {
    width: 150px;
    height: 50px;
    align-content: center;
    background-color: #004a49;
    color: #fff;
}

.cont>ul>li.on {
    background-color: #93cfce;
}

.cont>ul>li>a {}

.cont>ul>li>a>h3 {
    text-align: center;
}

.notice {
    padding: 30px 40px 0;

}

.notice>li {
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #fff;

}

.notice>li:hover {
    color: #004a49;
    border-bottom: 1px solid #004a49;
}

.notice>li>a {
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.gall {
    display: none;
}

.gall>ul {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 40px;

}

.gall>ul>li {}

.gall>ul>li>a {
    width: 100%;
    height: 100%;
    position: relative;
}

.gall>ul>li>a>img {
    opacity: 0.5;
}

.gall>ul>li>a:hover>img {
    opacity: 1;
}

.gall>ul>li>a>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #004a49;
    font-size: 20px;
    font-weight: bold;
}



.tab {
    width: 100%;
    height: 280px;
    background-color: #93cfce;
    position: absolute;
    bottom: 20px;
    left: 0;
}


footer {
    width: 1340px;
    height: 120px;
    margin: auto;
    background-color: #dadada;
    display: flex;
    align-items: center;
    gap: 20px;
}

footer>a {
    width: 200px;
    height: 100%;
    align-content: center;
    text-align: center;
}

footer .f_menu {}

footer .f_menu>ul {
    display: flex;
    gap: 20px;
}

footer .f_menu>ul>li {
    padding-right: 20px;
    border-right: 1px solid #666;
}

footer .f_menu>ul>li:last-of-type {
    border: none;
}

footer .f_menu>ul>li>a {}

footer .f_menu .copy {
    margin-top: 5px;
}

.pop {
    width: 500px;
    height: 400px;
    background-color: #fff;
    text-align: center;
    padding: 30px 40px;
    border-radius: 10px;
    border: 1px solid #004a49;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}

.pop>h2 {}

.pop>p {
    margin-top: 20px;
    line-height: 25px;
}

.pop .pop_off {
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.pop .pop_off:hover {
    color: #dadada;
}